.last-tags {
    text-align: center;
    font-size: 12px;
    margin: 5px 20px;
}

    .last-tags a {
        color: #fff;
        background-color: #bd3381;
        border-radius: 5px;
        padding: 2px 20px;
        display: inline-block;
        font-size: 11px;
        margin: 3px;
        cursor: pointer;
    }

.form {
    text-align: center;
    margin: 15px 20px;
}

.images {
    display: flex;
    margin: auto;
    max-width: 1200px;
    justify-content: center;
}

@media (max-width: 425px) {
    .images {
        display: block;
        margin: auto 20px;
    }
}
